.slide {
    /*Make the slide occupy the desired portion of the screen*/
    width: 35vw;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide img{
    width: 100%;
}
