.App {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.centeredFlexBox{
  width: 70vw;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.leftBox{
  background-color: blue;
  width: 50%;
}

.rightBox{
  width: 50%;
  overflow-x: hidden;
}
